<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
      <%= button_to "削除する", tweet_comment_path(tweet_id: c.tweet_id, id:c.id), method: :delete %>

  </div>
  <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@perfume, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
      <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "一覧に戻る", tweets_path %>